body {
<<<<<<< HEAD
<<<<<<< HEAD
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    position: absolute;
    width: 100%
=======
=======
>>>>>>> f9f772cd7158f67b8789e824e584b581343c33d1
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  position: absolute;
  width: 100%
<<<<<<< HEAD
>>>>>>> signup
=======
>>>>>>> f9f772cd7158f67b8789e824e584b581343c33d1
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
  }